body {
    background-color: rgb(28, 28, 28);
    font-family: Arial, Helvetica, sans-serif;
    user-select: none;
}

#container {
    display: flex;
    flex-direction: row;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
}

.lagu {
    background-color: rgb(46, 46, 46);
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 8px;
    border: 1px solid rgb(148, 148, 148);
    width: 20%;
    padding: 2%;
    max-height: 15%;
    opacity: 0.8;
    transition: 0.2s;
    position: relative;
    z-index: 1;
}
.lagu *:not(.video-background) {
    position: relative;
    z-index: 1;
}

.lagu:hover {
    background-color: rgb(35, 35, 35);
    border: 1px solid greenyellow;
    opacity: 1;
    box-shadow: 0px 0px 10px greenyellow;
}

.lagu h2 {
    margin: 0;
    width: 100%;
    text-align: center;
    color: rgb(255, 255, 255);
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.lagu h4 {
    margin: 0;
    color: rgb(255, 255, 255);
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    font-size: larger;
}
.lagu:hover h4 {
    color: greenyellow;
}
.lagu h3,small {
    margin: 0;
    width: 100%;
    text-align: center;
    color: rgb(162, 162, 162);
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.lagu a:link , .lagu a:visited {
    transition: 0.3s;
    text-decoration: none;
    color: rgb(255, 255, 255);
    
}
.lagu:hover a:link , .lagu:hover a:visited {
    text-decoration:underline;
    text-decoration-color: greenyellow;

}
.lagu img {
    border-radius: 100%;
    object-fit: cover;
    aspect-ratio: 1/1;
    width: 70%;
    justify-content: center;
    -webkit-user-drag: none;
    transition: 6s;
    margin-top: 20px;
    margin-bottom: 20px;
}
.lagu img:hover {
    rotate: 360deg;
}
.lagu:hover img {
    box-shadow: 0px 0px 30px rgb(255, 255, 255);
}
.bawah {
    display: flex;
    flex-direction: row;
    margin-bottom: 5px;
    width: 100%;
    justify-content: center;
}

.bawah div {
    max-width: 50%;
    overflow: hidden;
}


.kiri h3, .kanan h3 {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    flex-shrink: 1;
    max-width: 100%;
}

.kanan {
    margin-left: 20px;
}

.bawah .material-icons{
    vertical-align: middle;
    padding-bottom: 2px;
    margin-right: 3px;
    cursor: pointer;
    transition: 0.1s;
}
.bawah .material-icons:hover {
    text-shadow:0px 0px 5px rgb(109, 109, 109);
}


.bawah .material-icons:active{
   transform: scale(1.2);
   color:greenyellow;
}

/* Bagian Header */
.header {
    position: sticky;
    background-color: greenyellow;
    width: 100%;
    margin-bottom: 30px;
    top: 0;
    z-index: 10;
    white-space: nowrap;
    overflow: hidden;
    height: 40px;
    box-shadow:0px 0px 10px greenyellow;
    transition: 0.2s;
}

.header:hover {
    box-shadow:0px 0px 10px rgb(208, 255, 0);
}

.header h3{
    margin-top: 8px;
    padding-right: 80px;
    color: rgb(35, 35, 35);
}

.textmove {
    display: flex;
    width: max-content;
    padding-left:100%; /* Awal di luar layar */
    animation: marquee 15s linear infinite;
}

@keyframes marquee {
    0% {transform: translateX(0);}
    100% {transform: translateX(-100%);}
}

.bebasfont {
    font-family: "Bebas Neue", sans-serif;
    font-weight: 500;
    font-style: italic;
  }  

  /* audio button*/
.playpause i{
    font-size: xx-large;
    font-weight: 900;
    color: white;
    cursor: pointer;
    margin-bottom: 10px;
    transition: 0.1s;
}
.playpause i:hover {
    color: greenyellow;
    text-shadow:0px 0px 10px greenyellow;
}
.audio-button {
    border: 0px;
    background: none;
}

/* VIDEO BACKGROUND */
.video-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    overflow: hidden;
    border-radius: 8px;
    display: none;
    transition: 1s;
}

.video-background video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: brightness(0.3);
    pointer-events: none;
}
